<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-9"> 
        <!-- Home slide -->
        <div class="block block-slider">
          <ul class="home-slider kt-bxslider kt-owl-carousel" data-items="1" data-autoplay="true" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
          
            <li ><img src="assest/Sigel_artverum-2.png" alt="slider"></li>
            
            <li ><img src="assest/Planner-4.png" alt="slider"></li>
           
            <li ><img src="assest/Frixion-6.png" alt="slider"></li>
          </ul>
        </div>
        <!-- ./Home slide -->
        <div class="row">
          <div class="col-md-12 col-lg-12"> 
            <!-- block-offers -->
            <div class="block block-hot-deals">
              <div class="block-head">
                <div class="block-title">
                  <div class="block-icon"> <img src="assest/offers-icon.png" alt="store icon"> </div>
                  <div class="block-title-text text-sm">Latest</div>
                  <div class="block-title-text text-lg">Products</div>
                </div>
              </div>
              <div class="block-inner">
                <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                  <li class="product">
                    <div class="product-container">
                      <div class="product-left">
                        <div class="product-thumb "> <a class="product-img" href="#"><img class="imageHW" src="assest/2d-ring-file-pvc-1-1-2-a4-620.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
                        <div class="product-status"> <span class="new">New</span> </div>
                      </div>
                      <div class="product-right">
                        <div class="product-name"> <a href="#">Filing & Storage</a> </div>
                        <div class="price-box"> <span class="product-price">$19.98</span> <span class="product-price-old">$19.00</span> </div>
                        <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                        <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
                      </div>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product-container">
                      <div class="product-left">
                        <div class="product-thumb"> <a class="product-img" href="#"><img  class="imageHW" src="assest/3M Post-it Memoboard 558.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
                      </div>
                      <div class="product-right">
                        <div class="product-name"> <a href="#">Post-it Memoboard</a> </div>
                        <div class="price-box"> <span class="product-price">$19.98</span> <span class="product-price-old">$19.00</span> </div>
                        <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                        <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
                      </div>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product-container">
                      <div class="product-left">
                        <div class="product-thumb"> <a class="product-img" href="#"><img class="imageHW" src="assest/3M Post-it Flags 680.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
                      </div>
                      <div class="product-right">
                        <div class="product-name"> <a href="#">Post &amp; Flags</a> </div>
                        <div class="price-box"> <span class="product-price">$9.98</span> <span class="product-price-old">$9.00</span> </div>
                        <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                        <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
                      </div>
                    </div>
                  </li>
                  <li class="product">
                    <div class="product-container">
                      <div class="product-left">
                        <div class="product-thumb"> <a class="product-img" href="#"><img class="imageHW" src="assest/3L Multi Tabs (13 x 25mm) Colour-2.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
                      </div>
                      <div class="product-right">
                        <div class="product-name"> <a href="#">3L Multi Tabs </a> </div>
                        <div class="price-box"> <span class="product-price">$9.98</span> <span class="product-price-old">$9.00</span> </div>
                        <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                        <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <!-- block-offers --> 
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-3"> 
        <!-- block category -->
        <div class="block block-category">
          <div class="block-head">
            <ul class="nav-tab">
              <li class="active">Featured Categories</li>
            </ul>
          </div>
          <div class="block-inner">
            <div class="tab-container">
              <div id="tab-categories" class="tab-panel active">
                <ul class="categories">
                  <li> <a href="#" title="Perfume &amp; Cologne"> <span class="text">Basic Stationery</span> </a> </li>
                  <li> <a href="#" > <span class="text">Paper Products</span> </a> </li>
                  <li> <a href="#l" title="Metkup"> <span class="text">Diaries / Planners</span> </a> </li>
                  <li> <a href="#" > <span class="text">Ink Cartridges & Toners</span> </a> </li>
                  <li> <a href="#" > <span class="text">Computer Accessories</span> </a> </li>
                  <li> <a href="#" > <span class="text">Filing & Storage</span> </a> </li>
                  <li> <a href="#" > <span class="text">Office Equipment & Accessories</span> </a> </li>
                  <li> <a href="#" > <span class="text">Writing & Correction</span> </a> </li>
                  <li> <a href="#"> <span class="text">Travel Accessories</span> </a> </li>
                  <li> <a href="#"> <span class="text">Miscellaneous</span> </a> </li>
                </ul>
              </div>
              <div id="tab-guarantee" class="tab-panel">
                <div class="block-guarantee">
                  <h5> <span>THE OFFICIAL FAMISHOP® SHOP GUARANTEE</span> </h5>
                  <ul>
                    <li><a href="#">Free Shipping Every Day</a></li>
                    <li><a href="#">Earn VIP Rewards</a></li>
                    <li><a href="#">Dedicated FamiShop Experts</a></li>
                    <li><a href="#">Order Missing Pieces</a></li>
                  </ul>
                  <a href="#" class="button-radius">Learn more<span class="icon"></span></a> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./block category --> 
        <!-- block  Feature Brand -->
        <div class="block block-top-sellers">
          <div class="block-head">
            <div class="block-title">
              <div class="block-icon"> <img src="assest/shop-features-icon.png" alt="store icon"> </div>
              <div class="block-title-text text-sm">Featured</div>
              <div class="block-title-text text-lg">Brand</div>
            </div>
          </div>
          <div class="block-inner">
            <ul class="products kt-owl-carousel" data-items="1" data-autoplay="true" data-loop="true" data-nav="true">
              <li class="product">
                <div class="product-container">
                  <div class="product-left">
                    <div class="product-thumb margin-top-35"> <a class="product-img" href="#"><img src="assest/3M.png" alt="Product"></a> </div>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product-container">
                  <div class="product-left">
                    <div class="product-thumb margin-top-35"> <a class="product-img" href="#"><img src="assest/3l.png" alt="Product"></a> </div>
                  </div>
                </div>
              </li>
              <li class="product">
                <div class="product-container">
                  <div class="product-left">
                    <div class="product-thumb margin-top-35"> <a class="product-img" href="#"><img src="assest/Artline.jpg" alt="Product"></a> </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- block  Feature brand --> 
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row"> 
    <!-- block  host deals -->
    <div class="block block-hot-deals">
      <div class="block-head">
        <div class="block-title">
          <div class="block-icon"> <img src="assest/offers-icon.png" alt="store icon"> </div>
          <div class="block-title-text text-sm">Feature</div>
          <div class="block-title-text text-lg">Deals</div>
        </div>
      </div>
      <div class="block-inner">
        <ul class="products kt-owl-carousel" data-margin="20" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
          <li class="product">
            <div class="product-container">
              <div class="product-left">
                <div class="product-thumb"> <a class="product-img" href="#"><img src="assest/012280.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
                <div class="product-status"> <span class="new">New</span> </div>
              </div>
              <div class="product-right">
                <div class="product-name"> <a href="#">Plastic Rack</a> </div>
                <div class="price-box"> <span class="product-price">$139.98</span> <span class="product-price-old">$169.00</span> </div>
                <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
              </div>
            </div>
          </li>
          <li class="product">
            <div class="product-container">
              <div class="product-left">
                <div class="product-thumb"> <a class="product-img" href="#"><img  src="assest/3m-adhesive-spray-super-77-467g-perm-910.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
              </div>
              <div class="product-right">
                <div class="product-name"> <a href="#">Adhesive Spray Super</a> </div>
                <div class="price-box"> <span class="product-price">$149.98</span> <span class="product-price-old">$169.00</span> </div>
                <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
              </div>
            </div>
          </li>
          <li class="product">
            <div class="product-container">
              <div class="product-left">
                <div class="product-thumb"> <a class="product-img" href="#"><img src="assest/3m-command-hook-17003-1-hook-2-strips-large-793.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
              </div>
              <div class="product-right">
                <div class="product-name"> <a href="#">Command Hook</a> </div>
                <div class="price-box"> <span class="product-price">$140.98</span> <span class="product-price-old">$169.00</span> </div>
                <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
              </div>
            </div>
          </li>
          <li class="product">
            <div class="product-container">
              <div class="product-left">
                <div class="product-thumb"> <a class="product-img" href="#"><img src="assest/010231 .jpg"alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
              </div>
              <div class="product-right">
                <div class="product-name"> <a href="#">Steel Rack</a> </div>
                <div class="price-box"> <span class="product-price">$239.98</span> <span class="product-price-old">$269.00</span> </div>
                <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
              </div>
            </div>
          </li>
          <li class="product">
            <div class="product-container">
              <div class="product-left">
                <div class="product-thumb"> <a class="product-img" href="#"><img src="assest/3m-notebook-lcd-filter.jpg" alt="Product"></a> <a title="Quick View" href="#" class="btn-quick-view">Quick View</a> </div>
              </div>
              <div class="product-right">
                <div class="product-name"> <a href="#">Notebook</a> </div>
                <div class="price-box"> <span class="product-price">$19.98</span> <span class="product-price-old">$69.00</span> </div>
                <div class="product-star"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                <div class="product-button"> <a class="btn-add-wishlist" title="Add to Wishlist" href="#">Add Wishlist</a> <a class="btn-add-comparre" title="Add to Compare" href="#">Add Compare</a> <a class="button-radius btn-add-cart" title="Add to Cart" href="#">Buy<span class="icon"></span></a> </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- ./block hot deals --> 
  </div>
  <!--Block banner -->
  <div class="row">
    <div class="row">
      <div class="col-sm-3">
        <div class="block block-banner banner-hover online-blue text-center"> <a href="#"><img src="assest/Easy Online Payment.png" alt="Banner"></a> </div>
      </div>
      <div class="col-sm-3">
        <div class="block block-banner banner-hover text-center delivery-orange"> <a href="#"><img  src="assest/Delivery.png" alt="Banner"></a> </div>
      </div>
      <div class="col-sm-3">
        <div class="block block-banner banner-hover text-center self-blue"> <a href="#"><img  src="assest/Self Collection.png" alt="Banner"></a> </div>
      </div>
      <div class="col-sm-3">
        <div class="block block-banner banner-hover text-center retail-blue"> <a href="#"><img src="assest/Find Our Retail.png" alt="Banner"></a> </div>
      </div>
    </div>
  </div>
  
  <!-- Block banner --> 
  <!-- block-popular-cat-->
  <div class="row">
    <div class="block-popular-cat">
      <h3 class="title"> <span class="text">Feature Products</span> </h3>
      <div class="popular-inner">
        <div class="list-popular-cat kt-owl-carousel" data-margin="0" data-loop="true" data-nav="true" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":3}}'>
          <div class="item">
            <div class="image"> <img  src="assest/3m-privacy-filter-228x228.jpg" class="imageW" alt="popular1.png"> </div>
            <div class="inner">
              <h5 class="parent-categories">3M Desktop Privacy Filter PF19.0W </h5>
              <ul class="sub-categories">
                <li><a href="#">Increases Productivity</a></li>
                <li><a href="#">Work Confidently in Public</a></li>
                <li><a href="#">Cleans Easily with Cloth & Water</a></li>
                <li><a href="#">Lightweight, Thin, Frameless Design</a></li>
                <li><a href="#">Protects Display from Dirt, Debris & Scratches</a></li>
                <li><a href="#">Lightweight, Thin, Frameless Design</a></li>
                <li><a href="#">Increases Productivity</a></li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="image"> <img src="assest/3m-privacy-filter-for notebook-228x228.jpg" class="imageW"  alt="popular2.png"> </div>
            <div class="inner">
              <h5 class="parent-categories">3M Laptop Privacy Filter PF12.1W </h5>
              <ul class="sub-categories">
                <li><a href="#">Increases Productivity</a></li>
                <li><a href="#">Work Confidently in Public</a></li>
                <li><a href="#">Cleans Easily with Cloth & Water</a></li>
                <li><a href="#">Lightweight, Thin, Frameless Design</a></li>
                <li><a href="#">Protects Display from Dirt, Debris & Scratches</a></li>
                <li><a href="#">Increases Productivity</a></li>
                <li><a href="#">Work Confidently in Public</a></li>
              </ul>
            </div>
          </div>
          <div class="item last">
            <div class="image"> <img  src="assest/5413456155425-228x228.jpg" class="imageW" alt="popular3.png"> </div>
            <div class="inner">
              <h5 class="parent-categories">Biosystem Coin Counter CCS-20A</h5>
              <ul class="sub-categories">
                <li><a href="#"> Memory Function</a></li>
                <li><a href="#">Batching Function</a></li>
                <li><a href="#">Digital Blue Back Light</a></li>
                <li><a href="#">500 - 700 Coins Hopper Cap</a></li>
                <li><a href="#">Counting Speed: 350 / Minute</a></li>
                <li><a href="#">Auto Sorting of Coins to Individual Tray</a></li>
                <li><a href="#">Dimension (W x H x D): (317 x 347 x 273mm)</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./block-popular-cat--> 
</div>

