	<div class="container" ng-controller="loginController">
	  <div class="row">
			<div class="block block-breadcrumbs">
				<ul>
					<li class="home">
						<a href="#"><i class="fa fa-home"></i></a>
						<span></span>
					</li>
					<li>Login</li>
				</ul>
			</div>
			<div class="main-page">
				<div class="page-content">
		            <div class="row">
		            	<div class="col-sm-6">
		            	<div class="box-border">
		            		<h4>Create an account</h4>
							<small>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</small>
	            			
	            			<p class="margin-top-10">
	            				<a href="registration.html"><button class="button"><i class="fa fa-user"></i> Register</button></a>
	            			</p>
		            	</div>
		            	</div>
		            	<div class="col-sm-6">
		            		<div class="box-border">
		            			<h4>Already registered?</h4>
		            			<p>
		            				<label>Email address</label>
		            				<input type="text">
		            			</p>
		            			<p>
		            				<label>Password</label>
		            				<input type="text">
		            			</p>
		            			<p>
		            				<a href="#">Forgot your password?</a>
		            			</p>
		            			<p>
		            				<a href="index.html"><button class="button"><i class="fa fa-lock"></i> Sign in</button></a>
		            			</p>
		            		</div>
		            	</div>
		            </div>
		        </div>
			</div>
		</div>

	</div>